.headphone-speaker-wrapper .header-new>div>div>ul {
    display: flex;
    font-size: 13px;
    list-style-type: none;
    margin-left: -30px;
}

.headphone-speaker-wrapper>div>div>div>ul>li {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #000;
    /* font-family: robotoRegular, sans-serif; */
}

.headphone-speaker-wrapper>div>div>div>ul {
    list-style: none;
    gap: 25px;
}

.headphone-speakerF>div>div>ul>li>ul {
    position: absolute;
    width: 88%;
}
